section{
  @media (max-width: $width-lg){
    height: auto;
    min-height: 0;
  }
}
.wrapper{
  @media (max-width: $width-lg){
    padding: 0 40px;
  }
  @media (max-width: 470px){
    padding: 0 10px;
  }
}
.container{
  @media (max-height: 600px) and (min-width: 980px){
    padding-top: 120px;
  }

  @media (max-width: $width-lg){
    height: auto;
    position: static;
    margin: 0 auto;
    transform: none;
  }
}
@media (max-width: 1170px){
  .dog{
    display: none!important;
  }
}
@media (max-width: $width-sm){
  br{
    display: none!important;
  }
}

.hidden-lg{
  @media(max-width: $width-lg){
    display: none!important;
  }
}
.show-lg{
  @media(min-width: $width-lg){
    display: none!important;
  }
}
.hidden-md{
  @media(max-width: $width-md){
    display: none!important;
  }
}
.show-md{
  @media(min-width: $width-md){
    display: none!important;
  }
}
.hidden-sm{
  @media(max-width: $width-sm){
    display: none!important;
  }
}
.show-sm{
  @media(min-width: $width-sm){
    display: none!important;
  }
}
.hidden-xs{
  @media(max-width: $width-xs){
    display: none!important;
  }
}
.show-xs{
  @media(min-width: $width-xs){
    display: none!important;
  }
}

.header{
  @media (max-width: $width-lg){
    position: absolute;
    top: 42px;

    .light-header,
    .dark-header{
      @include flex-box();
      @include justify-content(space-between);
      @include align-items(center);
      @include transition();
    }

    .menu-btn{
      font-size: 0;
      margin: 0 0 0 0;

      &__icon{
        width: 72px;
        height: 72px;
        margin-right: 0;
      }
    }

    .logo{
      margin: 0 0 0 0;
    }

    .contacts{
      margin: 0 0 0 0;

      a{
        font-size: 0;
        display: none;

        &.big{
          display: block;
          font-size: 0;
          margin-bottom: 0;
        }

        .whatsapp-icon{
          margin-right: 0;
          width: 72px;
          height: 72px;
        }
      }
    }
  }
}

.s1{
  @media (max-width: $width-lg){
    padding: 176px 0 66px 0;

    .title_big{
      margin-bottom: 26px;
    }

    .subtitle{
      margin-bottom: 46px;
    }

    .video{
      margin-bottom: 40px;
    }
  }

  @media (max-width: $width-xs){
    .btn{
      width: 295px;
      height: 87px;
      font-size: 21px;
    }
  }
}

.s2{
  @media (max-width: $width-lg){
    padding: 74px 0 46px 0;
    min-height: 906px;

    .title{
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
    }

    .subtitle{
      font-size: 24px;
    }

    .items{
      @include flex-box();
      @include justify-content(center);
      @include flex-wrap(wrap);

      @media (max-width: $width-sm){
        display: block;

        .item{
          display: block;
          margin: 0 auto 0 auto;
        }
      }
    }

    .ctrl{
      .btn{
        margin: 0;
        padding: 0;
        font-size: 18px;
      }
    }

    .step{
      .step-number{
        color: #6085a4;
        font-size: 72px;
        font-weight: 400;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        line-height: 72px;
      }

      &-1{
        .item{
          &:nth-of-type(1){
            width: 165px;
            height: 152px;
            margin: 40px 27px 0 -21px;
            padding: 32px 0 0 0;

            @media (max-width: $width-sm){
              margin: 0 auto 10px auto;
            }

            .pic-wrap{
              margin-bottom: 10px;
            }
          }
          &:nth-of-type(2){
            width: 161px;
            height: 168px;
            padding: 31px 0 0 0;

            @media (max-width: $width-sm){
              margin: 0 auto 10px auto;
            }

            .pic-wrap{
              margin-bottom: 10px;
            }
          }
          &:nth-of-type(3){
            width: 185px;
            height: 158px;
            margin: 37px 0 0 0;
            padding: 21px 0 0 0;

            @media (max-width: $width-sm){
              margin: 0 auto 19px auto;
            }

            .pic-wrap{
              margin-bottom: 10px;
            }
          }
        }
      }

      &-2{
        .items{
          margin-bottom: 50px;
        }

        .item{
          &:nth-of-type(1){
            width: 215px;
            height: 202px;
            margin: 0 5px;
            padding: 60px 0 0 0;

            @media (max-width: $width-sm){
              margin: 0 auto 0 auto;
            }

            .pic-wrap{
              margin-bottom: 19px;
            }
          }
          &:nth-of-type(2){
            width: 210px;
            height: 193px;
            margin: 0 5px;
            padding: 50px 0 0 0;

            @media (max-width: $width-sm){
              margin: 0 auto 0 auto;
            }
          }
        }
      }

      &-3{
        padding-top: 0;

        .title{
          margin-bottom: 32px;
        }

        .btn-prev{
          margin-top: 15px;
        }
      }

      .form{
        margin-top: 69px;
        display: block;

        .input{
          display: block;
          margin: 0 auto 20px auto;
          max-width: 400px;
          width: 100%;
          height: 82px;
          font-size: 24px;
          text-align: center;

          @media (max-width: 420px){
            font-size: 16px;
            height: 60px;
            width: 290px;
          }
        }

        .btn{
          font-size: 22px;
          max-width: 411px;
          width: 100%;
          height: 92px;
          margin: 0 auto 0 auto;

          @media (max-width: 420px){
            font-size: 14px;
            height: 70px;
            width: 300px;
          }
        }
      }
    }
  }

  @media (max-width: $width-xs){
    .ctrl{
      @include justify-content(center);
    }
  }
}

.s3{
  @media(max-width: $width-lg){
    padding: 46px 0 50px 0;

    .item{
      &-heading{
        width: 185px;
        font-size: 24px;
      }
    }
  }
  @media(max-width: $width-sm){
    .title_big{
      margin-bottom: 35px;
    }

    .items{
      display: block;
    }

    .item{
      margin: 0 auto -29px auto;

      &-heading{
        margin: 0 auto -30px auto;
      }

      .pic{
        max-width: 100%;
      }
    }

    .title{
      margin: 14px 0 0 0;
      font-size: 36px;
      line-height: 36px;
    }
  }
}

.s4{
  @media(max-width: $width-lg){
    padding: 48px 0 0 0;

    .title{
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 3px;
    }

    .video{
      margin: 0 auto 69px auto;
      max-width: 400px;
      height: 223px;
      width: 100%;
    }

    .slick-dots{
      top: 269px;
    }

    .slide{
      &-container{
        padding: 0;
        display: block;
      }

      .comment{
        max-width: 400px;
        width: 100%;
        margin: 0 auto 0 auto;

        .head{
          @include justify-content(start);
          margin-bottom: 17px;
        }

        .avatar{
          width: 87px;
          margin-right: 16px;
        }

        .name{
          font-size: 30px;
          margin: 1px 0 3px 0;
        }

        .profession{
          font-size: 18px;
        }

        .text{
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
        }
      }
    }
  }
}

.s5{
  @media(max-width: $width-lg){
    padding: 16px 0 86px 0;

    .title{
      font-size: 48px;
      font-weight: 400;
      line-height: 48px;
      margin-bottom: 29px;
    }

    .subtitle{
      margin: 0;
    }

    .slick-dots{
      top: 268px;
    }

    .slide{
      height: auto;
      padding: 29px 0 46px 0;

      .video{
        max-width: 400px;
        width: 100%;
        height: 223px;
        margin: 0 auto 65px auto;
        transition: 0.25s 0.1s;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }

      .play{
        opacity: 1;
      }

      .description{
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        position: static;
        opacity: 1;
        padding: 0;
        color: black;
        font-weight: 400;

        .heading{
          font-size: 36px;
          line-height: 30px;
          margin-bottom: 24px;
        }

        .text{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .slick-current + .slide{
      .video{
        width: 400px;
        height: 223px;
      }
    }

    .form{
      display: block;
      margin-top: 0;

      .input{
        display: block;
        margin: 0 auto 20px auto;
        max-width: 400px;
        width: 100%;
        height: 82px;
        font-size: 24px;
        text-align: center;

        @media (max-width: 420px){
          font-size: 16px;
          height: 60px;
          width: 290px;
        }
      }

      .btn{
        font-size: 22px;
        max-width: 411px;
        width: 100%;
        height: 92px;
        margin: 0 auto 0 auto;

        @media (max-width: 420px){
          font-size: 14px;
          height: 70px;
          width: 300px;
        }
      }
    }
  }
}

.s6{
  @media(max-width: $width-lg){
    padding: 38px 0 40px 0;
  }

  @media(max-width: $width-sm){
    padding: 38px 0 16px 0;

    .title_big{
      margin-bottom: 51px;
    }

    .items{
      display: block;
    }

    .item{
      text-align: left;
      width: 100%;
      max-width: 400px;
      margin: 0 auto 42px auto;
      position: relative;
      z-index: 1;
      padding-left: 105px;

      .pic-wrap{
        width: 90px;
        height: 76px;
        position: absolute;
        margin: 0;
        top: -5px;
        left: 0;
      }

      .heading{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 28px;
      }

      .text{
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}

.s7{
  @media(max-width: $width-lg){
    padding: 56px 0 40px 0;

    .title_big{
      margin-bottom: 34px;
    }

    .tab{
      margin: 0 auto 26px auto;

      &-heading{
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        padding-left: 31px;

        span{
          @include double-pic();
          width: 14px;
          height: 15px;
          display: block;
          position: absolute;
          top: 8px;
          left: 0;
          z-index: 1;
        }
      }

      &-text{
        font-size: 18px;
        line-height: 30px;
        padding-left: 32px;
        padding-right: 84px;
        margin: 22px 0 0 0;

        &:before{
          display: none;
        }
      }
    }


    .social{
      margin: 30px 0 0 0;
      display: block;
      text-align: center;

      .mobile-links{
        @include flex-box();
        @include justify-content(space-between);
      }

      .rights{
        color: #705546;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 35px;
      }

      .politics{
        color: #705546;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        margin: 22px 0 21px 0;
        display: block;
      }

      &-link{
        width: 102px;
        height: 102px;
        background-color: #00a551;
        background-image: radial-gradient(circle 51px at 49.51% 34.8%, white 0%, white 0%, white 17%, #beb2ab 64%, #cebfb8 99%, #cebfb8 100%);
        box-shadow: inset 0 -9px 16px rgba(255, 250, 240, 0.76), 0 2px 51px rgba(104, 70, 48, 0.49);
        border-radius: 50%;
        position: relative;
        display: block;
        margin: 0;

        @media (max-width: 400px){
          width: 90px;
          height: 90px;
        }

        img{
          @include centered();
          max-width: 100%;
          width: auto;
        }
      }
    }
  }
}