.menu{
  background-color: #407a9a;
  position: fixed;
  width: 570px;
  height: 100vh;
  z-index: 1;
  @include transition();

  @media(max-width: $width-sm){
    width: 100%;
  }

  &.hidden{
    transform: translateX(-100%);
  }

  &__list{
    width: 100%;
    max-width: 570px;
    max-height: 460px;
    height: 100%;
    @include centered();

    &-item{
      height: calc(100% / 7);

      a{
        color: white;
        font-size: 22px;
        font-weight: 400;
        display: block;
        max-width: 460px;
        margin: 0 auto;
        text-align: center;
        border-radius: 40px;
        padding: 16px 0;
        @include transition();

        &:hover{
          background-color: #4f84a1;
        }

        @media (max-width: $width-sm){
          font-size: 27px;
        }

        @media (max-width: 420px){
          font-size: 21px;
        }
      }
    }
  }

  .close{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    right: 51px;
    z-index: 1;
    padding: 0;
    display: block;
    @include double-pic();

    @media (max-width: $width-sm){
      right: 30px;
      top: 15px;
    }

    @media (max-width: 420px){
      right: 10px;
      top: 10px;
    }
  }
}

body{
  &.menu-active{
    .menu{
      z-index: 1000;
      opacity: 1;
    }

    .content{
      transform: translateX(570px);

      @media(max-width: $width-sm){
        transform: translateX(0);
      }
    }
  }
  .content{
    @include transition();
  }
}